/* * {
    box-sizing: border-box;
    border: 1px solid red;
} */

.box{
    /* width: 200px; */
    /* height: 200px; */
    border: 1px solid black;
    display: grid;
    margin: 10px;
}
.container{
    /* margin-top: ;
     */
}

.box1{
    /* padding: 50px; */
    /* margin: 10px; */
    border: 20px solid green;
}